<% provide(:title, @student.name) %>
<div class="row">
	<aside class="span3">
		<section>
			<h1 class="students">
				<%= @student.name %>
			</h1>
			<h2 class="students">
				<%= @student.student_id  %>
			</h2>
		</section>
		<% if current_user?(@user) %>
			<% current_student %>
			<p><%= link_to "Record student behavior", new_behavior_path %></p>
		<% end %>
		<section>
			
		</section>
	</aside>
	<div class="span9">
		<ul class="nav nav-tabs">
			<li class="active" id="studentShowTab1">
				<%= link_to "This Week's Graph", show_graph_student_path, remote: true %>
			</li>
			<li id="studentShowTab2">
				<%= link_to "This Week's Table", show_table_student_path, remote: true %>

			</li>
		</ul>
		<div id="studentShowContent">
			<%= render "show_graph" %>
		</div>
		
		
	</div>
</div>