<%= render 'shared/error_messages', object: f.object %>

<div class="control-group">
	<%= f.label :pos1, "On Task", :class =>  "control-label"  %>
	<div class="controls">
		<%= f.select(:pos1, options_for_select([['0', 0], ['1', 1]], 1))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :pos2, "Positive Interactions", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:pos2, options_for_select([['0', 0], ['1', 1]], 1))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :pos3, "Safety", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:pos3, options_for_select([['0', 0], ['1', 1]], 1))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :pos4, "B.I.P. Goal", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:pos4, options_for_select([['0', 0], ['1', 1]], 1))  %>
	</div>	
</div>
<div class="control-group">
	<%= f.label :neg1, "Defiant", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg1, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg2, "Disrespectful", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg2, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg3, "Disruptive", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg3, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg4, "Property Distruction", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg4, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg5, "Threatening", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg5, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg6, "Obsenity", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg6, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg7, "Physical Aggression", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg7, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg8, "Verbal Aggression", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg8, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg9, "AWOL", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg9, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg10, "Sleeping", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg10, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg11, "Provoking/Mocking", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg11, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg12, "Self-Injurious", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg12, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg13, "Repeat Offense", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg13, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg14, "B.I.P. Goal", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg14, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg15, "Tardy", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg15, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :neg16, "Other", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:neg16, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :cor1, "Time Away", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:cor1, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :cor2, "Time Out", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:cor2, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :cor3, "Seclusion", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:cor3, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :cor4, "Restraint", :class => "control-label" %>
	<div class="controls">
		<%= f.select(:cor4, options_for_select([['0', 0], ['1', 1]]))  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :record_time, "Behavior Record Time", :class => "control-label" %>
	<div class="controls">
		<%= f.time_select :record_time, { ampm: true, default: @today }%>
	</div>
</div>

