<% provide(:title, "Record Behavior for "+@student.name) %>
<h3>Record Behavior for <%= link_to @student.name, @student %></h3>
<ul class=" nav nav-tabs">
	<li class="active" id="behaviorNewTab1">
		<%= link_to "Single Behavior Today", new_single_today_behaviors_path, remote: true %>
	</li>
	<li id="behaviorNewTab2">
		<%= link_to "Whole Day Behaviors", new_whole_day_behaviors_path, remote: true %>
	</li>
	<li id="behaviorNewTab3">
		<%= link_to "Single Behavior Choose Day", new_single_choose_behaviors_path, remote: true %>
	</li>
</ul>

<div id="behaviorNewContent">
	<%= render 'single_today_new' %>
</div>

