
<div class="row">
	<div class="span6 offset3">
		<table class="table table-striped table-condensed">
	<tr>
		<th>Time</th>
		<th>Positive</th>
		<th>Negative1</th>
		<th>Negative2</th>
		<th>Correction</th>
		<th></th>
	</tr>
	
	<tr>
		<td>7:50 - 9:18</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td><%= link_to "Edit", '#' %></td>
	</tr>
	<tr>
		<td>9:18 - 10:46</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td><%= link_to "Edit", '#' %></td>
	</tr>
	<tr>
		<td>10:46 - 12:14</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td><%= link_to "Edit", '#' %></td>
	</tr>
	<tr>
		<td>12:14 - 1:42</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td><%= link_to "Edit", '#' %></td>
	</tr>
	<tr>
		<td>1:42 - 3:10</td>
		<td>1</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td><%= link_to "Edit", '#' %></td>
	</tr>
</table>
	</div>
</div>
